.imagem {
    background-image: url('/929202.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.cont {
    display: flex;
    text-align: center;
    align-items: center;
    min-height: 100vh;
}

.texto {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.474);
    width: 70vh;
    display: flex;
    padding: 20px;
    flex-direction: column;
    color: rgb(255, 255, 255);
    line-height: 4.5vh;
    font-size: 30px;
}