
.tela{
    position: sticky;
    top: 0%;
}

.cabecalho {
    display: flex;
    background-color: rgb(0, 0, 0);
    
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid rgb(114, 114, 114);
    box-shadow: 0 4px 8px 0 rgba(69, 69, 69, 0.567);
    min-width: 35rem;

}
.titulo{
    display: flex;
    font-size: 4vh;
    color: rgb(255, 255, 255);

}
.git{
    display: inline-flex;
    font-size: 15px;
    color: rgb(248, 245, 245);
    margin-left: 25px;
}
.git:hover{
    border-radius: 6px;
    transition: all 0.4s ease;
    transform: scale(1.1);
}
@media screen and (max-width: 768px) {
    .cabecalho{
        grid-template-columns: repeat(4, 1fr);
        gap: 5rem;
    }
}

@media screen and (max-width: 426px) {
    .cabecalho{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}